---
---

<!doctype html>
<html lang="en">
    {% include head.html blog=true %}
    <body>
        {% include header.html %}
        <main>
            <section class="hero">
                <h1>Blog</h1>
                <p>Writing <em>is</em> thinking.</p>
            </section>
            <div class="project-grid">
                {% for post in site.posts %}
                <article class="project-card">
                    <h2>
                        <a href="{{ post.url | relative_url }}"
                            >{{ post.title }}</a
                        >
                    </h2>
                    <div class="blog-meta">
                        <p>{{ post.date | date: "%B %d, %Y" }}</p>
                    </div>
                    <p>{{ post.excerpt }}</p>
                </article>
                {% endfor %}
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>
